<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - JobHQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
</head>

<body class="flex justify-center align-center">
    <header class="login-header flex align-center space-between">
        <h2 class="logo">JobHQ</h2>
        <nav class="navigation">
            <a href="{{ url_for('auth.signup') }}">Sign Up</a>
            <a href="{{ url_for('auth.home') }}">Login</a>
        </nav>
    </header>
    <div class="container flex box-shadow">
        <div class="left-side flex flex-1 flex-column justify-center align-center">
            <div class="overlay"></div>
            <div class="left-text">
                <h2>Welcome!</h2>
                <p>Discover JobHQ - Your Ultimate Job Application Tracker! Start managing your job applications faster
                    and better!</p>
            </div>
        </div>
        <div class="right-side flex flex-1 flex-column justify-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages" id="flash-messages">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <h1>Login</h1>
            <form action="{{ url_for('auth.login') }}" method="post" class="flex flex-column">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter Email" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" required>
                <button type="submit"> <ion-icon class="icon" name="log-in-outline"></ion-icon> Login</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/flash-message.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>