@import url('common.css');

.welcome-message h2 {
   margin: 15px 10px;
}

.content {
    padding: 20px;
}

.notifications-container {
    background-color: var(--grey-2);
    padding: 20px;
    border-radius: 5px;
}

.notification {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--light-grey);
}


.timestamp {
    color: var(--linkedin-blue);
    font-size: 0.9em;
}
