@import url('common.css');

.welcome-message h2{
    margin-bottom: 20px;
    padding: 0 20px;
}

.content {
    padding: 25px;
}

.profile-container {
    background-color: var(--grey-2);
    padding: 20px;
}

.profile-header h3 {
    margin-bottom: 30px;
    text-align: center;
}

.profile-content label {
    display: block;
    margin-bottom: 10px;
}

.profile-content input,
.profile-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.form-row div{

    margin-right: 10px;
}

.profile-content button {
    background-color: var(--light-blue);
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.profile-content button:hover {
    background-color: #0056b3;
}
